<section id="left">
  <ul class="links">
    <li>{{#>link url="http://www.computercraft.info/forums2/index.php?/topic/22201-krist-minable-currency-that-works-across-servers/page__p__207703#entry207703"}}
      Forum Thread
    {{/link}}</li>
    <li>{{#>link url="/docs"}}API Documentation{{/link}}</li>
    <li>{{#>link url="https://krist.club/"}}Web Wallet{{/link}}</li>
  </ul>

  <br /><br />
  <h3>Miners</h3>

  <ul class="links smaller">
    <li>{{#>link url="https://github.com/tmpim/kristforge"}}
      (<b>CPU + GPU, recommended</b>) kristforge by dana
    {{/link}}</li>
    <li>{{#>link url="https://github.com/1lann/krist-miner"}}
      (<b>CPU only</b>) krist-miner by 1lann
    {{/link}}</li>
  </ul>

  <br />
  <h3>Wallets</h3>

  <ul class="links smaller">
    <li>{{#>link url="https://krist.club/"}}
      (<b>Web</b>) KristWeb by Lemmmy
    {{/link}}</li>
    <li>{{#>link url="https://pastebin.com/CChWjRx6"}}
      (<b>ComputerCraft</b>) kristwallet by 3d6
    {{/link}}</li>
  </ul>

  <br /><br />
  <h4>Privacy Disclaimer</h4>
  <p class="privacy">
    The only PII that the Krist server stores is your IP address, User-Agent and
    Origin, as part of the webserver logs. This information is automatically 
    purged after 30 days.
  </p>
</section>

<section id="right">
  <h3>What's New</h3>
  <p>
    A lot of new features have been added to the Krist API starting in 2020.
    Here's a showcase of some of the new things!
  </p>
  
  <div class="whats-new">
    {{#each whatsNew}}
      {{#>new}}
        {{{marked body}}}
      {{/new}}
    {{/each}}
  </div>

  {{#if commits}}
    <h3>
      Recent Commits 
      {{#>link url="https://github.com/tmpim/Krist/"}}
        <i class="fa fa-github github-icon"></i>
      {{/link}}
    </h3>

    <div class="git-commits">
      {{#each commits}}
        <a href="https://github.com/tmpim/Krist/commit/{{hash}}" target="_blank" rel="noreferrer noopener">
          <div class="commit">
            <div class="commit-bar"></div>
            <div class="commit-info">
              <span class="commit-subject" title="{{body}}">
                {{#if type}}
                  <span class="commit-type commit-type-{{type}}">{{type}}</span>
                {{/if}}
                {{subject}}
              </span>
              <div class="author">
                {{#if avatar}}<img class="commit-avatar" src="{{avatar}}" />{{/if}}
                <span class="author-name">{{authorName}}</span>
                <span class="sep">&ndash;</span>
                <span class="date">{{authorDateRel}}</span>
              </div>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  {{/if}}
</section>
